<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if (ne $url "") }}
            <li>
                <a href='{{ .Permalink }}'>
                  <aside class="dates">{{ .Date.Format "01/06" }}</aside></a>
                <a href='{{ .Permalink }}'>{{ .Title }}
                  <div class="post-description">{{ .Description | markdownify }}</div>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
