{{ partial "head.html" . }}
  <body>
  {{ partial "nav.html" . }}

  {{ if eq .Type "post" }}
    <section id="wrapper">
      <article class="post">
        <header>
          <div class="title">{{ .Title }}</div>
          <h2 class="headline">
          {{ .Date.Format "January 2, 2006" }}
          <br>
          {{ with .Params.tags }}
          {{ if ge (len .) 1 }}
            {{ range . }}
              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ end }}
          </h2>
        </header>
        <section id="post-body">
          {{ .Content }}
        </section>
      </article>
      <footer id="post-meta" class="clearfix">
        <section id="sharing">
          {{ partial "share.html" . }}
        </section>
      </footer>
      {{ partial "footer.html" . }}
    </section>
  {{ end }}

  {{ if eq .Type "page" }}
    <section id="wrapper">
      {{ .Content }}

      {{ partial "footer.html" . }}
    </section>
  {{ end }}


  {{ partial "js.html" . }}
  </body>
</html>
