{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" . }}
  <section id="wrapper">
    {{ .Content }}

    <div id="credentials">
      <table>
        <tr>
          <td class="head">Login:</td>
          <td id="login">
            <span class="value">...</span>
          </td>
          <td class="commands">
            <a class="copy" data-clipboard-target="#login .value">copy</a>
          </td>
        </tr>
          <td class="head">Password:</td>
          <td id="password">
            <span class="value">...</span>
          </td>
          <td class="commands">
            <a class="copy" data-clipboard-target="#password .value">copy</a>
            <a class="roll">roll</a>
          </td>
        </tr>
      </table>
    </div>

    {{ partial "footer.html" . }}
  </section>

  {{ partial "js.html" . }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/credentials.js"></script>
  </body>
</html>
